* {
    margin: 0%;
    font-family: sans-serif;
}


header {
    background-image: url("metal.png");
    padding: 0.5rem;
    position: fixed;
    width: 100%;


    display: flex;
    justify-content: space-between;


    border: black solid 0.1em;
    box-shadow: 0em .75em 0.5em rgba(0, 0, 0, 0.75);
    z-index: 1;
}


#title {
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 0em -0.0625rem 0em rgba(255,255,255,.3), 0em -0.0625rem 0em rgba(255,255,255,.7);
}


#settings {
    display: inline-block;
    position: relative;
    padding: 0.5em;
    font-size: 1.em;
    font-weight: bold;
    background-color: white;
}

#reset {
    display: none;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_text */
.dropdownContent {
    display: none;
    position: absolute;
    padding: 0.5em;
    font-size: 1.em;
    font-weight: bold;
    background-color: white;
    background-color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 3px 0 black;
}

.dropright {
    display: flex;
}

.droprightContent {
    display: none;
    position: absolute;
    padding: 0.5em;
    font-size: 1.em;
    font-weight: bold;
    background-color: white;
    background-color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 3px 0 black;
}

.dropdown:hover .dropdownContent {
    display: block;
    cursor: pointer;
}

.dropdown:hover .droprightContent {
    display: block;
    cursor: pointer;
}

#file {
    display: none;
}


#timerCon {
    margin-right: 1em;
    ;
    padding: .5em;
    background-color: black;
    color: white;
}


#playspace {
    background-image: url("wood.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-top: 7rem;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#puzzlefield {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("puzzle.jpg"); 
    height: 500px;
    width: 500px;
    border: black solid .1em;
    /* box-shadow: 0em 0em .9em .5em rgba(0, 0, 0, 1) inset,
        0em .2em .1em .1em rgba(255, 255, 255, 0.9) inset,
        0em -.2em .1em .0em rgba(0, 0, 0, 0.25) inset; */
}

#puzzlefield img {
    width: 60.6px;
    height: 60.6px;
    border: 1px solid lightgray;
}

#piecesCon1 {
    height: 500px;
    width: 250px;
    border: black solid .1em;
    background-color: white;

    margin: 50px 100px 0 0;
    display: flex;
    flex-wrap: wrap;;
}

#piecesCon2 {
    height: 500px;
    width: 250px;
    border: black solid .1em;
    background-color: white;

    margin: 50px 0 0 100px;
    display: flex;
    flex-wrap: wrap;;
}

#piecesCon1 img {
    width: 60.6px;
    height: 60.6px;
    border: 1px solid lightgray;
}

#piecesCon2 img {
    width: 60.6px;
    height: 60.6px;
    border: 1px solid lightgray;
}

.incomplete button{
    background-color: gray;
}